body{
  font-family: 'Arial', sans-serif;
  background-color: #252A41;
}

.container{
  width: 80%;
  margin: 40px auto;
}

.tasks{
  background-color: #ffffff;
  border-radius: 20px;
  max-width: 600px;
  margin: 0px auto 50px;
  padding: 16px 32px;
}

.tasks__header{
  width: 100%;
  padding: 16px 0px;
  border-bottom: 1px solid #ddd;
}

.tasks__menu{
  background: transparent;
  border: none;
  outline: none;
  margin-top: 4px;
  color: #d2d2d2;
}

.tasks__menu:hover{
  cursor: pointer;
}

.tasks__list{
  padding: 16px 0px;
  list-style: none;
}

.tasks__item{
  width: 100%;
  padding: 8px 0px;
}

.tasks__text{
  color: #6B6972;
}

.tasks__icon{
  margin-right: 8px;
  color: #DBE1E6;
}

.tasks__icon:hover{
  cursor: pointer;
}

.tasks__icon--success{
  border: 0;
  color: #35D9D8;
}

.tasks__status{
  font-size: 12px;
  font-weight: 600;
  padding: 4px 16px;
  background-color: #f2f2f2;
  border-radius: 10px;
  min-width: 98px;
  text-align: center;
}

.tasks__status--green{
  background-color: #E0F5F5;
  color: #63B5B2;
}

.tasks__status--blue{
  background-color: #E4EFFE;
  color: #8CB2E1;
}

.tasks__status--red{
  background-color: #FDEFE7;
  color: #E5A08B;
}

.tasks__status--gray{
  background-color: #ECEEEF;
  color: #A0A7AC;
}

.original-image{
  max-width: 635px;
  margin: 0 auto;
  text-align: center;
}

.original-image__title{
  color: #fff;
}