*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.pull-left{
  float: left;
}

.pull-right{
  float: right;
}

.clearfix{
  clear:both;
  content: "";
  display: table;
}