*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

canvas {
  margin: 8px;
  display: inline-block;
}

div.unit-menu{
  display: inline-block;
}

div.action-menu{
  display: inline-block;
}

div.turn-indicator{
  margin: 0px 8px;
  background-color: red;
  margin-bottom: 5px;
  color: white;
  width: 832px;
  padding: 4px;
}