@font-face{
  font-family: AW2;
  src: url('../fonts/AW2Font.ttf');
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  font-family: 'AW2';
  font-size: 28px;
}

div.start-menu{
  width: 832px;
  padding: 20px;
  text-align: center;
}

div.start-menu p{
  margin-bottom: 20px;
}

div.start-menu button{
  font-family: AW2;
  font-size: 28px;
  background-color: #f8e8c0;
  border: 2px black solid;
  border-radius: 3px;
  box-shadow: 2px 2px 0px #333;
  padding: 16px;
  min-width: 200px;

}

div.start-menu button:hover{
  cursor: pointer;
}

#main-canvas{
  display: none;
}

.canvas-container {
  font-size: 0px;
  margin: 0px 8px;
  vertical-align: top;
  border: 2px black solid;
  display: inline-block;
  border-radius: 3px;
}

div.unit-menu, div.action-menu{
  display: block;
}

div.unit-info{
  width: 500px;
  display: none;
}

.action-menu ul, .unit-menu ul{
  list-style: none;
  background-color: #f8e8c0;
  border: 2px black solid;
  border-radius: 3px;
  box-shadow: 2px 2px 0px #333;
}

li{
  display: inline-block;
  padding: 16px 16px;
  margin-bottom: 4px;
}

.action-menu li:hover, .unit-menu li:hover, div.end-turn:hover{
  cursor: pointer;
}

div.turn-indicator, div.end-turn, div.unit-info{
  margin: 8px 8px 8px 8px;
  color: black;
  border: 2px black solid;
  box-shadow: 2px 2px 0px #333;
  background-color: #f8e8c0;
  padding: 4px;
  border-radius: 3px;
}

.unit-menu, .action-menu{
  margin: 8px;
}

.turn-indicator, .unit-menu, .action-menu{
  width: 836px;
}

.turn-indicator-block{
  display: inline-block;
  width: 22px;
}

.inactive-spawn{
  color: #888888;
}

.pull-left{
  float: left;
}

.pull-right{
  float: right;
}

.clearfix{
  clear:both;
  content: "";
  display: table;
}