@font-face{
  font-family: 'IBM Plex Mono';
  src: url("../fonts/IBMPlexMono.ttf") format('truetype');
}

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'IBM Plex Mono'
}

.text-center{
  text-align: center;
}

.container{
  padding: 8px;
  margin: auto;
}

.table{
  border-collapse: collapse;
  margin: auto;
}

table, th, td{
  border: 1px solid #ddd;
}

th, td{
  text-align: center;
  padding: 15px;
}

a, a:hover {
  text-decoration: none;
}

a, a:visited{
  color: blue;
}