body{
  font-family: 'Nanum Gothic', sans-serif;
  background-color: #f9f9f9;
}

.container{
  width: 80%;
  margin: 40px auto;
}

.login{
  max-width: 635px;
  margin: 0px auto 50px;
  text-align: center;
}

.login__form{
  max-width: 480px;
  margin: 0px auto 50px;
}

.login__title{
  margin: 62px 0px 17px 0px;
}

.form__input{
  font-family: 'Nanum Gothic', sans-serif;
  padding: 20px;
  outline: none;
  width: 100%;
  border: 1px solid #e6e6e6;
  margin-bottom: 15px;
}

.form__submit{
  padding: 20px;
  outline: none;
  font-weight: 700;
  font-size: 14px;
  background-color: transparent;
  width: 100%;
  border: 2px solid #000;
  margin-bottom: 15px;
}

.form__submit:hover{
  cursor: pointer;
  background-color: #000;
  color: #fff;
}

.login__content{
  font-size: 12px;
  margin-bottom: 15px;
}

.login__link{
  font-size: 12px;
  color: #000;
  text-decoration: none;
  border-bottom: 2px solid #fc0;
}

.login__link:hover{
  background-color: #fc0;
}

.original-image{
  max-width: 635px;
  margin: 0 auto;
  text-align: center;
}