body{
  font-family: 'Sen', sans-serif;
  background-color: #f9f9f9;
}

img{
  max-width: 100%;
}

button:hover{
  cursor: pointer;
}

.container{
  width: 80%;
  margin: 40px auto;
}

.link{
  text-decoration: none;
  color: #000;
}

.card{
  max-width: 320px;
  background-color: #ffffff;
  border-radius: 20px;
  margin: 0px auto 50px;
  padding: 20px;
  box-shadow: 0px 8px 20px 20px #f2f2f2;
}

.card__image-container{
  margin-bottom: 20px;
}

.card__image{
  border-radius: 20px;
}

.card__date{
  color: #8492B9;
  margin-bottom: 20px;
}

.card__title{
  line-height: 1.2;
  margin-bottom: 30px;
  font-size: 18px;
}

.card__tag-container{
  margin-bottom: 20px;
}

.card__tag{
  background-color: #f2f2f2;
  padding: 6px 12px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 20px;
  margin-right: 8px;
}

.card__tag--blue{
  background-color: #D9E7FF;
  color: #305BFF;
}

.card__tag--pink{
  background-color: #FFF0F3;
  color: #FF7E9D;
}

.card__footer{
  width: 100%;
  border-top: 1px solid #F2F6FE;
  padding-top: 20px;
}


.card__add{
  padding: 10px 12px 11px;
  color: #fff;
  background-color: #FBA6B6;
  border: 1px solid #FEE8EC;
  border-radius: 10px;
}

.card__people{
  vertical-align: middle;
  border-radius: 10px;
  max-width: 38px;
  height: auto;
}

.card__comments{
  display: inline-block;
  margin-top: 10px;
  color: #8492B9;
}

.card__comments:hover{
  color: #000;
}

.original-image{
  max-width: 635px;
  margin: 0 auto;
  text-align: center;
}
