*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.start-menu, .game-over-container{
  width: 900px;
  background-color: #333333;
  color: white;
  text-align: center;
  padding: 50px;
  height: 900px;
}

.game-title, .game-over-title{
  margin-bottom: 50px;
  color: white;
}

.start-btn, .restart-btn{
  padding: 8px;
  border: none;
  background-color: navy;
  color: white;
  font-weight: 700;
}

.start-btn:hover, .restart-btn:hover{
  cursor: pointer;
  background-color: #13ace1;
}

span{
  margin: 0px 8px;
}