.btn {
    padding: 20px 26px;
    border: 0;
    border-radius: 4px;
    color: $white;
    cursor: pointer;

    @include m(primary) {
        border: 1px solid $green;
        font-weight: bold;
        color: $white;
        background: $green;

        &:hover{
            background: darken($green, 5%);
        }
    }

    @include m(secondary) {
        background: $white;
    }

    @include m(navigation){
        padding: 8px;
        border-radius: 50%;
    }

    @include m(form){
        font-size: 13px;
        padding: 10px 11px;
    }

    @include m(inactive){
        background-color: $blue;
    }

    @include m(icon){
        padding: 11px 0px;
        background-color: transparent;
        color: $blue-wood;

    }
}