.hero{
  position: relative;
  height: 260px;
  background: url('../img/hero.png');
  background-size: cover;
  text-align: center;
  margin-bottom: 50px;
  @include mq(md){
    height: 520px;
    margin-bottom: 130px;
  }

  @include mq(lg){
    height: 880px;
  }
  width: 100%;

  @include e(text-container){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  @include e(title){
    color: $white;
    font-family: $font-family-title;
    font-weight: 900;
    font-size: 40px;
    @include mq(md){
      font-size: 78px;
    }
  }

  @include e(text){
    display: none;
    @include mq(md){
      display: block;
      margin: 0 auto;
      color: $cadet-blue;
      font-size: 24px;
    }
  }

}