.latest-works{
  padding: 130px 0px;
  text-align: center;
  background-color: $catskill-white;

  @include e(title){
    font-family: $font-family-title;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 16px;

    @include mq(md){
      font-size: 44px;
      margin-bottom: 24px;
    }
  }

  @include e(text){
    padding: 20px;
    max-width: 830px;
    margin: 0 auto;
    color: $lynch;

    @include mq(md){
      font-size: 22px;
    }
  }

  @include e(col){
    width: 100%;
    margin-bottom: 30px;

    @include mq(md){
      float: left;
      width: 50%;
      padding: 0px 15px;
      margin-bottom: 80px;
    }
  }

  @include e(img){
    margin-bottom: 20px;
    max-height: 390px;
  }

  @include e(gallery){

    img{
      width: 50%;
      float: left;

      @include mq(md){
        padding: 0px 15px;
        width: 25%;
      }

      &:hover{
        box-shadow: 0px 2px 2px $gray;
      }
    }
  }

  @include e(navigation){
    margin: 45px 0px;
    li{
      display: inline-block;
    }
  }
}