.main-section-wrapper{
  width: 100%;
}

.column-left{
  width: 100%; /*738px*/
}

.column-left-sidebar{
  display: none;
}

.column-left-main{
  width: 100%; /*518px*/
}

.column-right{
  display: none;
}

.subheader{
  display: none;
}

.body-section{
  margin-top: 30px;
  margin-bottom: 32px;
}

.container{
  width: 93.41%;
  max-width: 936px;
  margin: auto;
}

.show{
  display: block !important;
}

@media(min-width: 768px){
  .subheader{
    background-color: #f5f5f5;
    height: 40px;
    display: block;
  }

  .column-right{
    width: 25%;
    display: block;
  }

  .column-right-sidebar{
    background-color: #f5f5f5;
    width: 100%;
    height: 610px;
  }

  .column-left{
    width: 72.8%;
  }
}

@media(min-width: 992px){
  .column-left{
    width: 78.85%;
  }

  .column-left-main{
    width: 70.19%;
  }

  .column-left-sidebar{
    background-color: #f5f5f5;
    width: 26.29%; /*194px*/
    display: block;
    height: 610px;
  }

  .column-right{
    width: 18.83%;
  }
}