body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}

a{
  color: #000000;
  text-decoration:none;
}

a:hover{
  text-decoration: underline;
}

.header-section-right{
  padding-bottom: 23px;
  padding-top: 28px;
}

.header-name{
  font-size: 14px;
}

.header-right-menu{
  list-style: none;
  margin-top: 7px;
  font-size: 0; /* to fix enter being rendered as extra space*/
}

.header-right-menu-item{
  font-size: 10px;
  display: inline;
  padding: 2px 5px;
  border-left: 1px solid #000;
}

.header-right-menu-item:first-child{
  border-left: none;
}

.header-right{
  width: calc(100% - 243px);
  padding-top: 24px;
  padding-bottom: 0px;
}

.header-right p{
  text-align: right;
}

.header-left{
  padding-top: 20px;
  padding-bottom: 15px;
}

.header-left img{
  margin-right: 20px;
  vertical-align: middle;
}

.header-form{
  margin-top: 10px;
  display: inline-block;
}

.header-menu-mbl{
  text-align: right;
  font-size: 20px;
}

.mbl-menu-icon{
  cursor: pointer;
}

.header-right-content{
  display: none;
}

/* .header-form .header-form-input{
  background: url('../img/SearchBarBG.png') no-repeat;
  padding: 2px 4px;
  width: 268px;
  height: 16px;
  border:none;
  font-size: 8px;
  margin-right: 5px;
  color: #889697;
} */

/* .header-form .header-form-btn{
  background: url('../img/SearchButtonBG.png') no-repeat;
  cursor: pointer;
  border:none;
  color: white;
  font-size: 8px;
  width: 53px;
  height: 20px;
}

.header-form .header-form-btn:hover{
  background: url('../img/SearchButtonBG-hover.png') no-repeat;
  cursor: pointer;
  border:none;
  color: white;
}
*/
.header-form input:focus{
  outline: none;
}

.sidebar-list{
  list-style: none;
}

.sidebar-list-item{
  padding: 11px;
}

.sidebar-list-item:hover{
  background-color: #ffffff;
  cursor: pointer;
}

.sidebar-list-item:first-child{
  font-size: 12px;
  font-weight: bold;
  background-color: #7dd9e8;
  padding: 15px 12px;
  color: #fff;
  margin-bottom: 4px;
}

.sidebar-list-item:first-child:hover{
  cursor: default;
}

.sidebar-list-item-left{
  display: inline-block;
  width: 96px;
}

.sidebar-list-item-right{
  margin-left: 61px;
}

.sidebar-bottom-list-item-left{
  display: inline-block;
  width: 138px;
}

.sidebar-bottom-list-item-right{
  /* margin-left: 18px; */
}

.main-header{
  border-bottom: 2px #7dd9e8 solid;
}

.main-title{
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 500;
}

.main-header-filter{
  text-align:center;
  width: 49.8%;
  background-color: #f5f5f5;
  border-radius: 20px 20px 0px 0px;
}

.main-header-filter-text{
  font-size: 12px;
  display: inline-block;
  margin: 11px 0px 12px 0px;
}

.main-header-list-item{
  display: inline-block;
  margin: 0px 5px;
  min-width: 60px;
  padding: 8px 8px 6px 8px;
  background-color: #dddddd;
  border-radius: 18px 18px 0px 0px;
}

.main-header-list-item:hover{
  cursor: pointer;
  background-color: #7dd9e8;
  color: white;
}

.main-header-list-item.active{
  background-color: #2fc1da;
  color: white;
}

.subheader{
  display: none;
}

.subheader-list{
  font-size: 0; /* to fix enter being rendered as extra space*/
  padding-left: 8px;
}

.subheader-list-item{
  display: inline-block;
  padding: 14px 15px;
  font-size: 12px;
}

.mbl-menu-content{
  font-size: 12px;
  width: 100%;
  text-align: center;
  padding: 4px;
  background-color: #f5f5f5;
  display: none;
}

.mbl-menu-content .header-name{
  padding: 8px;
}

.mbl-menu-list{
  list-style: none;
  margin-bottom: 24px;
}

.mbl-menu-list-item{
  display: block;
  border-bottom: 1px #ddd solid;
  padding: 16px 8px;
}

.mbl-menu-list-item:hover{
  background-color: #fff;
  cursor: pointer;
}

.mbl-header-right-menu{
  padding: 4px 0px;
}

.header-form-input{
  background-color: #caeff7;
  border: none;
  border-radius: 20px;
  padding: 8px;
  min-width: 268px;
  font-size: 10px;
}

.header-form-input:focus{
  outline: none;
}

.header-form-btn{
  background-color: #284f56;
  color: white;
  border: none;
  border-radius: 20px;
  padding:8px;
  margin-left: 4px;
  font-size: 10px;
  cursor: pointer;
}

.header-form-btn:hover{
  background-color: #5da3af;
}

.text-muted{
  color: #aaaaaa;
}

.subheader-list-right .subheader-list-item{
  font-size: 11px;
  padding: 12px 15px;
}

.subheader-list-item img{
  height: 15px;
  width: auto;
  vertical-align:middle;
}

.main-content-list{
  list-style: none;
}

.main-content-list-item{
  padding: 15px 0px;
  border-bottom: 1px #d8d8d8 solid;
}

.main-content-list .pull-left{
  width: 70px;
}

.main-content-right{
  width: calc(100% - 70px - 16px);
  color: #606060;
}

.main-content-right-title{
  font-size: 12px;
  margin-bottom: 8px;
  color: #000;
  font-weight: bold;
}

.main-callout-text{
  margin-bottom: 4px;
}

.text-blue{
  color: #4eadbf;
}

.text-green{
  color: #6f9820;
}

.text-red{
  color: #d73f1a;
}

.description-text{
  margin-bottom: 5px;
}

.footer-section{
  background-color: #727272;
  color: #d2d2d2;
  height: 9px;
  padding: 19px 0px 17px 0px;
  font-size: 9px;
}

.footer-section a{
  color: #d2d2d2;
}

.column-left-sidebar li a:hover, .column-right li a:hover {
  text-decoration: none;
}

.footer-section ul {
  list-style: disc;
}

.footer-section ul li{
  display: inline-block;
  font-weight: bold;
}

.footer-section li:before{
  content: "\2022";
  padding: 0px 6px;
}

.footer-section li:first-child:before{
  content:"";
  padding: 0px;
}

.mbl-menu-content .header-name{
  margin-bottom: 24px;
}

@media(min-width: 992px){
  .header-menu-mbl{
    display: none;
  }
  .subheader{
    display: block;
  }
  .mbl-menu-content{
    display: none;
  }

  .header-right-content{
    display: block;
  }
}

@media(min-width: 768px){
  .main-header-list-item{
    min-width: 98px;
  }
}